DEPLOY_USER=user
DEPLOY_HOST=8.8.8.8
DEPLOY_REF="origin/main"
DEPLOY_REPO="https://github.com/<git_repoo>/<some_project>.git"
DEPLOY_PATH="/home/<your_account>/<project>/"
DEPLOY_PATH_BACKEND="/home/<your_account>/<project/current/backend"
DEPLOY_PATH_FRONTEND="/home/<your_account>/<project/current/frontend"
NPM_PATH="PATH=$HOME/.nvm/versions/node/v20.19.5/bin:$PATH"
